@model IEnumerable<NewsWeb.Models.DatabaseContext.ApplicationUsers>
@using NewsWeb.PublicClasses

@{
    ViewData["Title"] = "مدیریت کاربران | شیراز نیوز";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">

        <!-- BEGIN LOGO -->
        <div class="page-logo">
            @*کامپوننت لوگوی پنل مدیریت*@
            @await Component.InvokeAsync("Admin_HeaderLogo")
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN PAGE ACTIONS -->
        <!-- DOC: Remove "hide" class to enable the page header actions -->
        <div class="page-actions">
            @*کامپوننت دسترسی سریع پنل مدیریت*@
            @await Component.InvokeAsync("Admin_QuickAccess")
        </div>
        <!-- END PAGE ACTIONS -->
        <!-- BEGIN PAGE TOP -->
        <div class="page-top">

            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="separator hide"> </li>
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended">
                        @*کامپوننت نمایش تاریخ شمسی*@
                        @await Component.InvokeAsync("Admin_TopBarShamsiDate")
                    </li>
                    <li class="separator hide"> </li>
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                        @*کامپوننت ناحیه اعلانات پنل مدیریت*@
                        @await Component.InvokeAsync("Admin_Notification")
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                    <li class="separator hide"> </li>
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        @*کامپوننت پروفایل کاربری پنل مدیریت*@
                        @await Component.InvokeAsync("Admin_ProfileTopBar")
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->

                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">

    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        @*کامپوننت اساید پنل مدیریت*@
        @await Component.InvokeAsync("Admin_Aside")
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light bordered">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption caption-md">
                                            <span class="caption-subject font-green-sharp bold uppercase">لیست دسترسی ها</span>
                                        </div>
                                        <div class="actions">
                                            <a asp-controller="User" asp-action="AddUser" role="button" class="btn btn-outline green-haze"> ثبت کاربر جدید <i class="fa fa-plus ml-2"></i></a>
                                            <a asp-area="AdminPanel" asp-controller="Admin" asp-action="Index" role="button" class="btn dark btn-outline"> بازگشت </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body table-both-scroll">
                                        <div class="table table-responsive text-center">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr class="thColor">
                                                        <th> @Html.DisplayNameFor(model => model.FirstName) </th>
                                                        <th> @Html.DisplayNameFor(model => model.LastName) </th>
                                                        <th> @Html.DisplayNameFor(model => model.GenderSex) </th>
                                                        <th> @Html.DisplayNameFor(model => model.PhoneNumber) </th>
                                                        <th> نام کاربری </th>
                                                        <th> ایمیل </th>
                                                        <th> @Html.DisplayNameFor(model => model.UserImagePath) </th>
                                                        <th> عملیات </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                    <tr>
                                                        <td>@item.FirstName</td>
                                                        <td>@item.LastName</td>
                                                        @if (item.GenderSex == 1)
                                                        {
                                                            <td> آقا </td>
                                                        }
                                                        else
                                                        {
                                                            <td> خانم </td>
                                                        }
                                                        <td>@item.PhoneNumber</td>
                                                        <td class="EN__Font">@item.UserName</td>
                                                        <td class="EN__Font">@item.Email</td>
                                                        <td>
                                                                <img src="~/Admin/images/upload/userImage/thumbnailimage/@item.UserImagePath" style="height:40px; width:35px;" class="borderRadiusProfileUser" alt="پروفایل کاربر" />
                                                        </td>
                                                        <td>
                                                            <a class="btn green-haze btn-circle btn-icon-only btn-default" asp-controller="User" asp-action="EditUser" asp-route-id="@item.Id">
                                                                <i class="fa fa-pencil"></i>
                                                            </a>

                                                            <a class="btn red-thunderbird btn-circle btn-icon-only btn-default" asp-controller="User" asp-action="DeleteUser"
                                                               asp-route-id="@item.Id" data-toggle="modal" data-target="#modal-action-category">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        @* Paging *@
                                        @if (ViewBag.PageCount > 1)
                                        {
                                            <div class="row text-center">
                                                <nav>
                                                    <ul class="pagination">
                                                        @if ((int)ViewBag.PageID > 1)
                                                        {
                                                            @* Previous *@
                                                            <li>
                                                                <a asp-controller="User" asp-action="UserList" asp-route-Page="@((int)ViewBag.PageID) - 1">
                                                                    <span>&laquo;</span>
                                                                </a>
                                                            </li>
                                                        }
                                                        @for (int i = 1; i <= (ViewBag.PageCount); i++)
                                                        {
                                                            <li class="@(((int)ViewBag.PageID==i)?" active":"")">
                                                                <a asp-controller="User" asp-action="UserList" asp-route-page="@i">
                                                                    @i
                                                                    <span class="sr-only"></span>
                                                                </a>
                                                            </li>
                                                        }
                                                        @if ((int)ViewBag.PageID <= (int)ViewBag.PageCount - 1)
                                                        {
                                                            @* Next *@
                                                            <li>
                                                                <a asp-controller="User" asp-action="UserList" asp-route-Page="@((int)ViewBag.PageID) + 1">
                                                                    <span>&raquo;</span>
                                                                </a>
                                                            </li>

                                                        }
                                                    </ul>
                                                </nav>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    @*کامپوننت فووتر پنل مدیریت*@
    @await Component.InvokeAsync("Admin_Footer")
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
@Html.Partial("_ModalBootstrap", new BootstrapModel { ID = "modal-action-category" })

@section scripts{
    <script src="~/Admin/pages/scripts/category-listdata.js"></script>
}
